.App {
  text-align: center;
  max-width: 100%;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

h1 {
  font-family: "Big Shoulders Text", cursive;
}

.loader {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.pagesNumbered {
  display: inline-block;
  background-color: #E9E8E8;
  padding: 3px 10px;
  margin: 10px 5px 20px 5px;
  text-decoration: none;
  cursor: pointer;
}
.pagesNumbered:hover {
  background-color: #898787;
}

